# Virtual environment
.venv/
venv/
env/

# Dataset (large)
PlantVillage/
data/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Model artifacts (if large)
# artifacts/

# Environment variables
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
